<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi veniam ipsam mollitia blanditiis enim laboriosam culpa alias non ab recusandae aliquam eos sunt maxime, accusantium unde voluptatem autem fugit qui.</p>
  {{> footer}}
</body>
</html>